<h1>Add employee</h1>

<%= simple_form_for [:create, @_employer, @emp], :url => company_create_employer_employee_path do |f| %>
	
	<%= field_set_tag do %>
		<%= f.input :name %>
		<%= f.input :nominated_charity %>
		<%= f.input :deduction, :label => "Monthly deduction" %>
		<%= f.input :ni, :label => "National Insurance Number" %>
		<%= f.input :approved %>
	<% end %>
		
	<%= field_set_tag nil, :class => "actions" do %>
		<%= f.submit :value => "Add" %>	
	<% end %>
	
<% end %>