<h1>Past Give as you Earn reports</h1>

<table>
	<thead>
		<tr>
			<th align="left">Month</th>
			<th>Employee donations</th>
			<th>Matched donations</th>
			<th></th>
		</tr>
	<thead>
	<tbody>
		<tr>
			<td align="left">January 2013</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
		<tr>
			<td align="left">December 2012</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
		<tr>
			<td align="left">November 2012</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
		<tr>
			<td align="left">October 2012</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
		<tr>
			<td align="left">September 2012</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
		<tr>
			<td align="left">August 2012</td>
			<td>&pound;1,203</td>
			<td>&pound;1,203</td>
			<td><%= link_to "Export report", "/report.xls" %> / <%= link_to "Export summary report", "/report-summary.xls" %></td>
		</tr>
	</tbody>
</table>